<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Videojuegos con Unidos y Fantasy</title>
</head>
<body>
    <ul>
        {% for videojuego in videojuegos %}
        <li>
          <h2>{{ videojuego.titulo }}</h2>
          <h3>Estudio: {{ videojuego.estudio_desarrollo.nombre }}</h3>
          <h3>Plataforma: {{ videojuegoplataforma.plataforma.nombre }}</h3>
          <h3>Ventas estimadas: {{ videojuego.ventas_estimadas}}</h3>
        </li>

        {% endfor %}
    </ul>
</body>
</html>
